# Code Blocks
*.cbp
*.layout
*.save
/bin
/obj

# Executable files
*.exe
driver

# Build files
*.o
*.depend
dependencies

# Word document files
*.doc
*.docx

# DIA files
*.dia

# Images
*.png
*.jpg

# PDFs
*.pdf
